body {
    margin: 10px;
}

main {
    display: flex;
    height: 490px;
}

h1,
h2,
h3,
p {
    text-align: center;
}

body,
header,
footer,
.isi,
.navigasi {
    border: 1px solid black;
    margin: 5px;
}

.isi {
    flex: 0 0 80%;
    max-width: 80%;
}

.navigasi {
    flex: 0 0 18%;
    max-width: 18%;
}