main {
    display: flex;
    height: 550px;
}

h1,
h2,
h3,
p {
    text-align: center;
}

.isi {
    flex: 0 0 80%;
    max-width: 80%;
}

.navigasi {
    flex: 0 0 18%;
    max-width: 18%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.modal-form {
    width: 100%;
}

.main-reg {
    display: flex;
    height: 100%;
}